figure {
    background-color: var(--background-color-bright);
    border-radius: 3px;
    color: var(--text-dark);
    margin: 0;
}

.vs {
    color: var(--text-light);
    font-size: 1rem;
    text-align: center;
    align-self: center;
}