.card {
    max-width: 800px !important;
    margin: 0 auto;
    background-color: var(--background-color-grey);
    border-color: var(--border-color);
    height: 100%;
}

.card-header {
    color: var(--text-light);
    border-color: var(--border-color);
    background-color: var(--background-color-light-grey);
}

::ng-deep .card-body>* {
    display: inline-block;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

::ng-deep .card-body>* figure {
    flex-grow: 1;
}