<div class="row m-0">
  @for (observation of currentObservations; track observation._id) {
  <div class="col-12 col-sm-6 col-lg-4">
    <app-list-item-observation [item]="observation"></app-list-item-observation>
  </div>
  } @empty {
  <div class="col-12">No observations</div>
  }
</div>
<mat-paginator
  [length]="observations.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[9, 24, 100]"
  (page)="paginate($event)"
  [showFirstLastButtons]="true"
  aria-label="Select page"
>
</mat-paginator>
