<!-- FILTERS -->
<div class="filters ps-3">
  <!-- For Filter Category -->
  <mat-form-field class="me-2">
    <mat-label>Filter by Category</mat-label>
    <mat-select
      [(value)]="selectedFilterCategory"
      (selectionChange)="changeFilterCategory($event.value)"
    >
      @for(option of filterCategories; track option){
      <mat-option [value]="option">{{ option | titlecase }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <!-- For Filter Category Value-->
  @if (selectedFilterCategory!="none") {
  <mat-form-field>
    <mat-label>Value</mat-label>
    <mat-select
      [(value)]="selectedFilterCategorySelectedValue"
      (selectionChange)="changeSelectedFilterCategoryValue($event.value)"
    >
      @for(option of selectedFilterCategoryDomain; track option){
      <mat-option [value]="option">{{ option | titlecase }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  }
</div>

<!-- OBSERVATIONS -->
<div class="row m-0">
  @for (observation of currentObservations; track observation._id) {
  <div class="col-12 col-sm-6 col-lg-4">
    <app-list-item-observation [item]="observation"></app-list-item-observation>
  </div>
  } @empty {
  <div class="col-12">No observations</div>
  }
</div>

<!-- PAGINATION -->
<mat-paginator
  [length]="currentObservations.length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  (page)="paginate($event)"
  [showFirstLastButtons]="true"
  aria-label="Select page"
>
</mat-paginator>
